nav ul{
    display:flex;    
}
nav li{
    list-style: none;
    margin-right: 20px;
    padding: 0 5px;
}
nav li a{
    text-decoration:currentColor;
    color: black;
}
nav li:hover{
    background-color: rgba(91, 36, 8, 0.235);
}
h2{
    text-align: center;
}
nav{
    text-align: center;
}
#topara{
    text-align: center;
}
